<div id="<%= dom_id mypet %>">
  <p>
    <strong>Name:</strong>
    <%= mypet.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= mypet.age %>
  </p>

  <p>
    <strong>Animal type:</strong>
    <%= mypet.animal_type %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= mypet.gender %>
  </p>

  <p>
    <strong>cost_per_year:</strong>
    <%= mypet.cost_per_year %>
  </p>

</div>
